/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.env.local.php
.DS_Store
Thumbs.db

app/storage/uploads/
3enib.sublime-workspace
app/database/migrations/2014_06_20_223744_project_student_pivot.php
bootstrap/start.php