body{
	padding-top: 60px;
}


.navbar-brand
{
	padding: 2px;
}

.logo-company
{
	max-width: 300px;
	width: 300px;
	margin: auto;
}

.whoiam-company
{
	border-left: 1px solid #F5F5F5;
	padding-left: 90px; 
	height: 100%;
}

.well
{
	background-color: rgba(238, 238, 238, 1);
}

.our-projects-title
{
	margin-top: 0;
	margin-bottom: 40px;
}

.symbol-euro-project
{
	margin-left: -20px;
	line-height: 35px;
}

.post
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-avatar
{
	height: 50px;
}

.post-message
{
	padding: 25px;
	line-height: 1em;
	background-color: rgba(160, 149, 149, 0.51);
}

.post-panel
{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.post-panel a
{
	opacity: 0.2;
}

.post-panel a:hover
{
	opacity: 1;
	color: black;
}