<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteBase /3ENIB
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>