body {
  padding-top: 60px;
}
.navbar-brand {
  padding: 2px;
}
.logo-company {
  max-width: 300px;
  width: 300px;
  margin: auto;
}
.whoiam-company {
  border-left: 1px solid #F5F5F5;
  padding-left: 90px;
  height: 100%;
}
.well {
  background-color: #eeeeee;
}
.our-projects-title {
  margin-top: 0;
  margin-bottom: 40px;
}
.symbol-euro-project {
  margin-left: -20px;
  line-height: 35px;
}
.project-short {
  margin-bottom: 10px;
}
.post {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post .post-avatar {
  height: 50px;
}
.post .post-message {
  padding: 25px;
  line-height: 1em;
  background-color: rgba(160, 149, 149, 0.51);
}
.post .post-edit {
  margin-top: 10px;
}
.post .post-edit .post-edit-btn {
  margin-top: 5px;
}
.post .post-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post .post-panel .post-panel-edit,
.post .post-panel .post-panel-remove {
  opacity: 0.2;
  color: black;
  cursor: pointer;
}
.post .post-panel .post-panel-edit:hover,
.post .post-panel .post-panel-remove:hover {
  opacity: 1;
  color: black;
}
